<!DOCTYPE html>
<html data-fr-scheme="system" lang="<%= I18n.locale %>">
  <head>
    <title><%= yield(:page_title) if content_for?(:page_title) %> - <%= t("global.service_name") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr.min", "application-turbo-track": "reload" %>

    <%= javascript_include_tag "dsfr.module.min.js", type: 'module' %>
    <%= javascript_include_tag "dsfr.nomodule.min.js", nomodule: true %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/skiplinks' %>
    <%= render 'shared/header' %>

    <div class="fr-container">
      <main class="fr-py-2w" id="main">
        <%= render 'shared/flash' %>
        <%= yield %>
      </main>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
